*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}
.container{
    width:100%;
    padding: 0 50px;
    max-width: 1400px;
    margin: 0 auto;

}
body{
    height: 3000px;
}
.header{
   
 padding:15px 0;
  background-color: white;
  margin-top: 20px;
  position: fixed;
  width: 100%;
  
 
}

.list ul{
    display: flex;
    gap:35px;
    color:#0D0E43;
   
    
}

ul{
    list-style-type:none ;
}
.header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.header input{
    border:0;
}

.header button{
     border:0;
    padding: 10px 5px;
    background-color: #FB2E86;
}
.header form {
    border:1px solid black;
    display:flex;
    
}

.search-form form img{
    width: 24px; 
    height: 24px;  
}
 .header .list a:hover{
    color: #FB2E86;
 } 
  
.header .list a{
     transition-property: color;
    transition-duration: 1.1s;
    transition-delay: .5s;

}